@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Raleway:wght@500&display=swap");

$font-lato: "Lato", sans-serif;
$font-raleway: "Raleway", sans-serif;
$main-color: hsla(240, 30%, 9%, 0.9);
$footer-color: #3d4050;
$blue-text: #3e9cdc;
$white-text: #ffffff;
